---
export interface Props {
	class?: string;
}

const { class: containerClass } = Astro.props;
---


<section class={`flex justify-center w-full ${containerClass}`}>
    <div class="w-full max-w-screen-xl">
        <slot />
    </div>
</section>